node_modules/
.env
.env.local
*.log
personal/
.claude/
CLAUDE.md

#pre-port
postgres_db/

#temporary
scripts/


#docs
docs/guide
mydocs/
docs/myscratchpad.md
docs/toolfeatures.md

#references
later_agent_app/
CRDB_hackathon/

# Lambda build output
dist/
